TheDancerKata/TheDancerKataTests/bin
TheDancerKata/TheDancerKataTests/obj
TheDancerKata/TheDancerKata/bin
TheDancerKata/TheDancerKata/obj
TheDancerKata/.vs/TheDancerKata/CopilotIndices
TheDancerKata/.vs/TheDancerKata/DesignTimeBuild
TheDancerKata/.vs/TheDancerKata/FileContentIndex
TheDancerKata/.vs/TheDancerKata/v17
TheDancerKata/.vs/ProjectEvaluation
